<!doctype html>
<html lang="en">
<head>
    <title>Scraping public Github gists</title>
</head>
<body>
{% if gists | length > 0 -%}
    Since {{ last_scrape_time }} these Gists were added:
    <ul>
{%- for user_gists in gists %}
{%- for gist in user_gists %}
        <li><a href="{{ gist.html_url }}">{{ gist.id }}</a> by {{ gist.owner.login }} at {{ gist.created_at }}</li>
{%- endfor -%}            
{% endfor %}
    </ul>
{% else -%}
No new gists since {{ last_scrape_time }}!
{% endif -%}
</body>